Package: checksum
Priority: optional
Version: 0.2.2
Architecture: all
Section: misc
Maintainer: Anaxímeno Brito
Installed-Size: 79.1
Depends: python (>=3)
Description: Checksum is an CLI aplication thats calculate and compare the sums of one file. For knowing the methods try: checksum -h or checksum --help.

