Source: shazam
Package: shazam
Priority: optional
Version: 0.2.5.1
Architecture: all
Section: misc
Maintainer: Anaxímeno Brito, <anaximenobrito@gmail.com>
Installed-Size: 40
Depends: python3.8
Description: ShaZam is an CLI aplication thats calculate and compare the sums of one file. For knowing the methods try: checksum -h or checksum --help.

