Source: shazam
Package: shazam
Priority: optional
Version: 2020.1
Architecture: all
Section: misc
Maintainer: Anaxímeno Brito, <anaximenobrito@gmail.com>
Installed-Size: 40
Depends: python3,
	 python3-argparse,
	 python3-termcolor,
	 python3-alive_progress,
	 python3-hashlib
Description: ShaZam is an CLI aplication thats calculate and compare the sums of one file. For knowing the methods try: shazam -h or shazam --help.
